{% extends 'organiser/base.html' %}

{% block content %}
<h2>Grupa {{ group.name }}</h2>

    <table class="table">
      <tr>
        <th>Lp.</th>
        <th>Data rejestracji</th>
        <th>Imię i Nazwisko</th>
        <th>Partner</th>
        <th>Rola</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>Grupa</th>
        <th>Status</th>
      </tr>

    {% for profile in profiles %}
        <tr>
            <td scope="col">{{ forloop.counter|default_if_none:"" }}</td>
            <td scope="col">{{ profile.created|default_if_none:"" }}</td>
            <td scope="col">{{ profile|default_if_none:"" }}</td>
            <td scope="col">{{ profile.partner|default_if_none:"" }}</td>
            <td scope="col">{{ profile.dance_role|default_if_none:"" }}</td>
            <td scope="col">{{ profile.phone|default_if_none:"" }}</td>
            <td scope="col">{{ profile.mail|default_if_none:"" }}</td>
            <td scope="col">
                {% for gr in profile.group.all %}
                    {{ gr.name }}
                {% endfor %}
            </td >
            <td scope="col">{{ profile.status|default_if_none:"" }}</td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}