{% extends 'organiser/base.html' %}

{% block content %}

    <table class="table">
        <tr>
        <th><h2>Użytkownicy</h2></th>
        </tr>

        {% for profile in object_list %}
            <tr>
                <td scope="col">{{ profile.first_name }} {{ profile.last_name }} {{ profile.group.first }}</td>
                <td><a href="{% url 'edit' pk=profile.id %}">Edytuj</a></td>
                <td><a href="{% url 'delete' pk=profile.id %}">Usuń</a></td>
            </tr>
        {% empty %}
            <tr>No users yet.</tr>
        {% endfor %}
    </table>
{% endblock %}